body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif , sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    text-align: center; /* 所有元素居中 */
    color: #000000;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* 轻微向上移动 */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* 回到原位置 */
    }
}

*:not(.card-content) {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: var(--animation-delay, 0s); /* 默认延迟 */
}

body {
    --animation-delay: 0s; /* body元素先动画 */
    opacity: 1; /* 确保body立即可见 */
    animation: none; /* body本身无动画，只有子元素有 */
}
.button {
    width: 100%;
    padding: 12px 20px;
    background-color: #FFE267; /* 按钮背景颜色 */
    color: white; /* 按钮文本颜色 */
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.container {
    max-width: calc(100% - 6px); /* 确保内容宽度包含填充 */
    margin: 0 auto;
    min-height: 80vh; /* 设置容器的最小高度为视口高度的80% */
    padding: 5px; /* 为整个容器添加10px填充 */
    padding-top: 72px; /* logo和内容之间的间距 */
    box-sizing: border-box; /* 将填充包括在容器的宽高中 */
    border-radius: 20px; /* 增加圆角 */
}

.logo {
    width: 75px; /* 设置logo的大小 */
    margin-bottom: 40px; /* 增加logo下方的外边距 */
}


.sport-icon {
    width: 500px;
    height: 500px;
    margin: 0 auto 0px; /* 调整icon和其他元素之间的间距 */
    background: url('only_the_difficulty.png') no-repeat center center;
    background-size: contain;
    --animation-delay: 0.4s;
}

.flower-icon {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px; /* 调整icon和其他元素之间的间距 */
    background: url('VibrantSciLogo_b1.png') no-repeat center center;
    background-size: contain;
    --animation-delay: 0.4s;
}

.title {
    font-size: 72px; /* 大标题字体大小 */
    font-weight: bolder; /* 大标题字体更粗 */
    margin: 0 0 20px 0; /* 大标题与上方和下方元素的间距 */
    line-height: 1.2;
    text-align: center; /* 确保标题居中 */
    --animation-delay: 0.6s;
}


.small-title {
    font-size: 25px; /* 副标题大小 */
    margin-top: 20px; /* 副标题与上方元素的间距 */
    margin-bottom: 6px; /* 副标题与下方元素的间距 */
    font-weight: normal; /* 正常字体粗细 */
    --animation-delay: 0.8s;
}
.title-white {
    color: #ffffff;
    font-size: 72px; /* 大标题字体大小 */
    font-weight: bolder; /* 大标题字体更粗 */
    margin-bottom: 50px; /* 副标题与下方元素的间距 */
    margin-top: -150px; /* 副标题与上方元素的间距 */

    line-height: 1.2;
    text-align: center; /* 确保标题居中 */
    --animation-delay: 0.6s;
}

.caption {
    color: #ffffff;
    font-size: 30px; /* 副标题大小*/ 
    margin-top: -120px; /* 副标题与上方元素的间距 */
    margin-bottom: 50px; /* 副标题与下方元素的间距 */
    font-weight: bolder; /* 正常字体粗细 */
    --animation-delay: 0.8s;
}

.shared-subtitle {
    font-size: 20px;
    margin-top: 50px; /* 在标题和此文本之间增加间距 */
    margin-bottom: 30px; /* 此文本和下方内容之间的间距 */
    font-weight: normal;
    text-align: center; /* 副标题居中 */
    --animation-delay: 1s;
}

.section-title {
    font-size: 40px; /* 部分标题字体大小 */
    font-weight: bolder; /* 部分标题字体更粗 */
    margin-top: 40px; /* 部分标题与上方元素的间距 */
    margin-bottom: 20px; /* 部分标题与下方元素的间距 */
    text-align: center; /* 确保部分标题居中 */
    --animation-delay: 1.2s;
}

.section-subtitle {
    font-size: 16px; /* 部分副标题字体大小 */
    margin-top: 5px; /* 部分副标题与上方元素的间距 */
    margin-bottom: 30px; /* 部分副标题与下方元素的间距 */
    text-align: center; /* 部分副标题居中 */
    --animation-delay: 1.4s;
}
/* 第4页样式 */
.page4 {
    position: relative;
    background-color: #FFF8E1; /* 浅黄色背景 */
    min-height: 100vh; /* 确保覆盖整个视口 */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px; /* 调整页面四周的填充 */
    box-sizing: border-box; /* 确保填充包含在元素大小中 */
}

.page4-container {
    text-align: center;
    z-index: 1; /* 确保内容在背景上方 */
    position: relative; /* 确保容器相对于背景定位 */
    width: 100%; /* 确保其占据整个宽度 */
    max-width: 1000px; /* 限制最大宽度 */
    margin: 0 auto; /* 容器居中 */
    padding: 20px; /* 调整容器内部的填充 */
}
.pagesport {
    position: relative;
    background-color: #000000; /* 黑色背景 */
    min-height: 60vh; /* 确保覆盖整个视口 */
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* 确保填充包含在元素大小中 */
    border-radius: 20px; /* 增加圆角 */
    background-color: #000000; /* 可选：为容器添加背景色以更好展示圆角效果 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 可选：为容器添加轻微的阴影效果 */
}




.logo {
    width: 75px; /* 设置logo的大小 */
    margin-bottom: 20px; /* 调整logo下方的外边距 */
}

/* 针对移动设备的媒体查询 */
@media only screen and (max-width: 768px) {

    .title {
        font-size: 55px; /* 调整移动设备上大标题的大小 */
    }

    .small-title {
        font-size: 20px; /* 调整移动设备上副标题的大小 */
    }

    .shared-subtitle {
        font-size: 19px; /* 调整移动设备上共享副标题的大小 */
    }

    .section-title {
        font-size: 28px; /* 调整移动设备上部分标题的大小 */
    }

    .section-subtitle {
        font-size: 12px; /* 调整移动设备上部分副标题的大小 */
    }

    .card-title {
        font-size: 18px; /* 调整移动设备上卡片标题的大小 */
    }

    .description {
        font-size: 19px; /* 调整移动设备上描述文字的大小 */
    }

    .sport-icon {
        width: 250px;
        height: 250px;
    }
    
    .caption {
        font-size: 30px; /* 调整移动设备上大标题的大小 */
        margin-top: -30px; /* 调整移动设备上副标题与上方元素的间距 */
        margin-bottom:30px; /* 调整移动设备上副标题与下方元素的间距 */
    }
    .container {
        max-width: calc(100% - 5px); /* 确保内容宽度包含填充 */
        margin: 0 auto;
        max-height: 40vh; /* 设置容器的最小高度为视口高度的80% */
        padding: 5px; /* 为整个容器添加10px填充 */
        padding-top: 72px; /* logo和内容之间的间距 */
        box-sizing: border-box; /* 将填充包括在容器的宽高中 */
        border-radius: 20px; /* 增加圆角 */
    }

}
